.about {
    @include flex-btwn();
    background-color: $midnight-green;
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    &__main {
        flex: 0 0 65%; 
        position: relative;
        left: -50px;
        hr { 
            border-color: $coral;
            margin-bottom: 40px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: -100px;
        background-image: url(/images/bg-pattern-about-1-mobile-nav-1.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    @include tablet-breakpoint {
        flex-direction: column;
        text-align: center;
        padding-top: 45px;
        hr { display: none }
        h1 { margin-bottom: 50px }
        &__main { 
            left: 0;
            width: 75%; 
            margin: 0 auto;
        }
    }

    @include cellphone-breakpoint {
        padding-top: 45px;
        h1 { margin-bottom: 30px }
        &::after { bottom: -100px }
    }
}

.directors__section {
    background-color: $deep-jungle-green;
    position: relative;
    padding-top: 130px;
    padding-bottom: 150px;
    h2 { margin-bottom: 50px }
    & > * { text-align: center }

    .directors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px 30px;

        .director {
            background-color: $sacramento-state-green;
            padding: 25px 15px 0;
            height: 260px; width: 100%;
            h3 { 
                color: $rapture-blue;
                margin-top: 15px;
            }
            &-pic {
                height: 96px; width: 96px;
                border: 2px solid hsl(179, 100%, 88.4%);
                border-radius: 50%;
            }
            small { @include small-italic() }
            p { display: none }
 
            &__social {
                display: none; 
                a i {
                    font-size: 20px;
                    &:hover { color: $coral }
                }
            }

            .btn-turn {
                background-color: transparent;
                position: relative;
                z-index: 2;
                border: none;
                display: block;
                margin: auto;
                transform: translateY(38px);
                cursor: pointer;
                &.turnBtn { transform: translateY(22.5px) } // Toggle
                img {
                    padding: 20px;
                    border-radius: 50%;
                    background-color: $coral;
                    transition: transform .2s ease-in-out;
                    &:hover { background-color: $rapture-blue }
                    &.turnBtn {                             // Toggle
                        background-color: $rapture-blue;
                        transform: rotateZ(45deg);
                        &:hover { background-color: $coral }
                    }
                }
            }

            &.turnCard {                                    // Toggle
                background-color: $dark-green;
                h3 { margin-top: 7px }
                .director-pic { display: none }
                small { display: none }
                p { 
                    display: flex;
                    align-items: center;
                    height: 48%;
                    line-height: 1.5;
                    max-width: 90%; 
                    margin: 0 auto;
                }
                .director__social { 
                    @include flex-btwn();
                    align-items: flex-end;
                    position: relative; 
                    margin: 0 auto;
                    z-index: 1;
                    height: 15%; width: 60px;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: -105px; right: 0;
        background-image: url(/images/bg-pattern-about-2-contact-1.svg);
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: url(/images/bg-pattern-home-4-about-3.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    @include tablet-breakpoint {
        padding-top: 80px;
        .directors {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
        }
    }

    @include cellphone-breakpoint {
        padding-bottom: 80px;
        .directors {
            display: flex;
            flex-direction: column;
            .director {
                max-width: 400px;
                margin: 0 auto 60px;
            }
        }
        &:before { top: -100px }
    }
}

.clients {
    background-color: $sacramento-state-green;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .clientele {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5%;
        align-items: center;
        img {
            margin: 0 auto;
            max-width: 100%;
            &:nth-of-type(5) { max-height: 55px }  
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: url(/images/bg-pattern-about-4.svg);
        background-repeat: no-repeat;
    }

    @include tablet-breakpoint {
        padding-top: 100px;
        padding-bottom: 100px;
        &::after { top: -100px }
    } 

    @include cellphone-breakpoint {
        padding-top: 75px;
        padding-bottom: 75px;
        .clientele {
            display: flex;
            flex-direction: column;
            img {
                margin: 30px auto;
                max-width: 50%;
                &:nth-of-type(5) { max-height: 80px }
            }
        }
        &::after { left: -100px }
    }
}