main {
    @include flex-btwn();
    background-color: $midnight-green;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
    & > * { z-index: 1 }

    &::before {
        content: '';
        position: absolute;
        top: 40px; bottom: 0; left: -115px; right: 0;
        background-image: url(/images/bg-pattern-about-2-contact-1.svg);
        background-repeat: no-repeat;
        @include cellphone-breakpoint { display: none }
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: -95px;
        background-image: url(/images/bg-pattern-contact-2.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    @include tablet-breakpoint {
        flex-direction: column;

        .contact {
            h1, h2 { text-align: center }
            h2 { margin-bottom: 50px }
        }
        .form { 
            max-width: 600px; width: 100%;
            margin-top: 50px;
        }
    }

    @include cellphone-breakpoint {
        h3 { font-weight: 600 }
        &::after { bottom: -100px }
    }
}

.contact {
    flex: 0 0 45%; 
    margin-left: 20px;
    h2 {
        @include contact-h2;
        margin: 30px 0;
    }

    .reason {
        display: flex;
        margin-bottom: 20px;
        h3 { margin: auto 0 }
        img { margin-right: 30px }
    }
}

.form {
    flex: 0 0 45%;
    &__control {
        position: relative; 
        margin-bottom: 25px;
        padding-bottom: 15px;
        border: none;
        border-bottom: 1px solid $white;
        &:focus-within { border-bottom: 1px solid $rapture-blue }
        input {
            background-color: transparent;
            color: $white;
            font-family: inherit;
            font-weight: 600;
            font-size: 100%;
            letter-spacing: 3px;
            width: 100%;
            border: 0;
            padding-left: 10px;
            &::placeholder { @include contact-pg-input() }
        }
        label { 
            @include contact-pg-input();
            padding-left: 10px;
        }
        textarea {
            width: 100%; max-width: 100%;
            min-height: 80px; max-height: 160px;
            padding: 10px 20px;
            margin-top: 15px;
            background-color: transparent;
            border: none;
            font-family: inherit;
            letter-spacing: 1px;
            color: $white;
            resize: vertical;
            &:focus { background-color: $deep-jungle-green !important }
            &::-webkit-scrollbar {
                width: 10px;
                &-track {
                    background-color: #fff;
                    border-right: 4px solid $midnight-green;
                    border-left: 4px solid $midnight-green;
                }
                &-thumb {
                    width: 10px;
                    background-color: $dark-green;
                    border-radius: 100px;
                }
                &-corner { display: none }
            }
        }
        small {
            position: absolute;
            bottom: -16px; left: 10px;
            color: $coral;
            font-size: 10px;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 1px;
            display: none;
        }

        &.invalid {
            margin-bottom: 30px;
            border-color: $coral;
            &:focus-within { border-color: $coral }
            input::placeholder, label { color: $coral }
            small { display: block }
        }

        @include cellphone-breakpoint {
            input, input::placeholder, label {
                font-weight: 500;
            }
        }
    }

    .btn {
        background-color: $white;
        color: $deep-jungle-green;
        border: 0;
        &:hover {
            box-shadow: 2px 4px 0 hsla(186, 100%, 8%, 0.75);
            transition: 0.15s;
        }
    }
}