// Colors:
$midnight-green: hsl(186, 97.7%, 17.1%);
$coral: hsl(0, 87%, 73%);
$white: hsl(0, 0%, 100%);
$rapture-blue: hsl(179, 42%, 63%);
$police-blue: hsl(187, 41%, 29%);
$deep-jungle-green: hsl(186, 100%, 14%);
$sacramento-state-green: hsl(186, 96.2%, 10.4%);
$dark-green: hsl(186, 100%, 8%);

// Body:
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus { outline: 0 }
}

body {
    max-width: 1900px;
    margin: 0 auto;
    & > * {
        padding-right: 8vw;
        padding-left: 8vw;
        overflow: hidden;

        @include tablet-breakpoint {
            padding-right: 5vw;
            padding-left: 5vw;
        }
    }
}

@mixin flex-btwn() {
    display: flex;
    justify-content: space-between;
}